/* MENU ICON */
.icon.ion-navicon-round {
  visibility: hidden;
}

.icon.ion-navicon-round {
  visibility: visible;
    content: url(https://justapp.id/assets/images/toggler_icon_white.svg);
    margin-top: 10px;
}

.view_appointment .card button.button.button-block.button-custom.ng-binding:nth-child(1),
.view_appointment .card button.button.button-block.button-custom.ng-binding:nth-child(2) {
	visibility: hidden;
}


.view_appointment .card button.button.button-block.button-custom.ng-binding:nth-child(1):after {
  	visibility: visible;
    content: "Riwayat Janjian";
    display: block;
    background-color: #516dff;
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    color: #fff;
    padding: 0;
  	border: 2px solid #fff;
  	height: 50px;
}


.view_appointment .card button.button.button-block.button-custom.ng-binding:nth-child(2):after {
  	visibility: visible;
    content: "Buat Janji Baru";
    display: block;
    background-color: #516dff;
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    color: #fff;
    padding: 0;
  	border: 2px solid #fff;
  	height: 50px;
}

/* Halaman Pilih lokasi */
ion-view.view_appointment .tab-nav.tabs {
    display: none !important;
}

ion-view.view_appointment ion-content.has-header.has-tabs-top {
    top: calc(30px + var(--safe-area-inset-top)) !important;
}

ion-tabs.tabs-icon-top.tabs-negative.tabs-top.tabs-striped .tab-nav.tabs {
    display: none !important;
    top: 0 !important;
}

/* Tab Location */
ion-view.view_appointment ion-content .tab-locations:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-locations .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-locations .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
}

.tab-locations .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-locations .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-locations .list.card .item.item-custom.item-location i {
	color: #516dff !important;
}

.tab-locations .list.card .item.item-custom.item-location {
    background-color: #f3f2f3;
    border-radius: 10px;
    margin: 12px 2%;
    width: 96%;
}



/* Tab Categories */
.tab-categories:before {
    content: ".";
    display: block;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/CTA-Image-01-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    height: 215px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
  	width: 96%;
}

.tab-categories .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-categories .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-categories .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-categories .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-categories .list.card .item.item-custom.item-category i {
	color: #516dff !important;
}

.tab-categories .list.card .item.item-custom.item-category {
    background-color: #f3f2f3;
    border-radius: 10px;
    margin: 12px 1.6%;
    width: 30%;
    display: inline-block;
}

.tab-categories .list.card .item.item-custom.item-category .row {
	display: inline-block;
  	width: 100%;
}

.tab-categories .list.card .item.item-custom.item-category .row .col.col-90 {
	display: block;
  	width: 100%;
  	max-width: 100%;
  	padding: 0;
}

.tab-categories .list.card .item.item-custom.item-category .row .col.col-90 h2 {
	text-align: center;
  	font-size: 14px;
}

.tab-categories .list.card .item.item-custom.item-category .row .col.col-10 {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
}

.tab-categories .list.card .item.item-custom.item-category .row .col.col-10 i {
    text-align: center;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    width: 10%;
    margin-right: 45%;
    transform: rotate(90deg);
}


/* Tab Services */
ion-view.view_appointment ion-content .tab-services:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-services .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-services .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-services .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-services .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-services .list.card .item.item-custom.service i {
	color: #516dff !important;
}

.tab-services .list.card .item.item-custom.service {
    background-color: #f3f2f3 !important;
    border-radius: 10px;
    margin: 12px 2%;
    width: 96%;
}

/* Tabs Provider */ 
ion-view.view_appointment ion-content .tab-providers:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-providers .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-providers .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-providers .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-providers .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-providers .list.card .providers_gap .item.item-custom.item-thumbnail-custom.provider i {
	color: #516dff !important;
}

.tab-providers .list.card .providers_gap .item.item-custom.item-thumbnail-custom.provider {
    background-color: #f3f2f3 !important;
    border-radius: 10px;
    margin: 12px 2%;
    width: 96%;
}

/* Part Calendar */
ion-view.view_appointment ion-content .part-calendar:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2020/11/undraw_events_2p66.svg);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.part-calendar .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.part-calendar .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.part-calendar .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.part-calendar .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}


.part-calendar .list.card td:after {
    background-image: none !important;
    display: none !important;
}

.view_appointment #calendar {
    position: relative;
    overflow: hidden;
    height: 420px !important;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.view_appointment div#calendar tr>td {
    background-color: #fff;
    border: 0;
    font-size: 16px;
    height: 60px;
    padding: 17px;
}

.view_appointment td.today {
    font-weight: 700;
    background-color: #fff !important;
    color: #0e7bc4;
}

td.item-divider.item-divider-custom {
    font-weight: bold;
    font-size: 29px !important;
    color: red !important;
}

.view_appointment th {
    background-color: transparent;
    color: #fff;
    text-shadow: none !important;
    font-weight: 400;
    border: 0 !important;
}

.view_appointment .active {
    background-color: #0e7bc4;
    border-radius: 30px 30px 0 0 !important;
}


/* Tab Information */
.tab-informations:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-informations .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-informations .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-informations .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-informations .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-informations .list.card button.button.button-custom.button-block.ng-binding {
    background-color: #516dff;
    width: 80%;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 10%;
}


.tab-informations .list.card label.item.item-custom.item-input.item-stacked-label {
    width: 90%;
    margin-left: 5%;
}


.tab-informations .list.card label.item.item-custom.item-input.item-stacked-label input {
    padding: 20px 10px;
    border: 2px solid #516dff;
    border-radius: 10px;
}

.tab-informations .list.card label.item.item-custom.item-input.item-stacked-label textarea {
    padding: 20px 10px;
    border: 2px solid #516dff;
    border-radius: 10px;
}


/* placeholder */
.tab-informations .list.card label input::-webkit-input-placeholder {
   color: #eaeaea !important;
}

.tab-informations .list.card label input:-moz-placeholder { /* Firefox 18- */
   color: #eaeaea !important;
}

.tab-informations .list.card label input::-moz-placeholder {  /* Firefox 19+ */
   color: #eaeaea !important;
}

.tab-informations .list.card label input:-ms-input-placeholder {  
   color: #eaeaea !important;
}
/* placeholder */


/* Tab Confirmasi */
.tab-confirm-informations:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-confirm-informations .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-confirm-informations .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-confirm-informations .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-confirm-informations .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
}

.tab-confirm-informations .list.card .item.item-custom {
    width: 90%;
    margin-left: 5%;
}

.tab-confirm-informations .list.card button.button.button-block.button-custom.ng-binding {
    background-color: #516dff;
    width: 80%;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 10%;
}

/* Tab Terima KAsih */

.tab-thanks:before {
	content: ".";
  	display: block;
  	background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/03/asian-young-main-group-hospital-professional_1291-37-removebg-preview-1.png);
  	background-size: contain;
  	background-repeat: no-repeat;
	background-position: center 15px;
  	height: 200px;
	z-index: 999;
    margin-bottom: -60px;
    position: relative;
}

.tab-thanks .list.card:before {
    content: ".";
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 150px;
    display: block;
    padding: 31px 10px;
    margin-top: -69px;
    z-index: -999;
}

.tab-thanks .list.card {
    border-radius: 30px 30px 0 0;
    background-color: #fff !important;
    margin: 0;
  	padding-bottom: 100px;
}

.tab-thanks .list.card .item.item-divider.item-divider-custom {
  	background-color: transparent;
}

.tab-thanks .list.card .item.item-divider.item-divider-custom h2 {
	font-weight: bold;
  	font-size: 20px;
  	color: #516dff;
  	text-align: center;
}

.tab-thanks .list.card p.thank_text_last.ng-binding {
    text-align: center;
}

