/* mengatur lebar sidebar menu */
.layout_baguera_11 ion-content.scroll-content.ionic-scroll {
    width: 100vw !important;
}

ion-side-menu.menu.menu-left.menu-left-open {
    width: 100% !important;
}

/* USER SETELAH LOGIN */
/* mengubah gambar background */
.layout_baguera_11 .homepage-custom.logout-form {
    background-image: url(https://klikhost.com/wp-content/uploads/2021/02/shared-banner-img.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50%;
}

/* mengatur gambar user */
.layout_baguera_11 .avatar-img {
    margin-top: 7vh;
    float: left;
  height: 12vh;   
}

/* mengatur nama */
.layout_baguera_11 .avatar-nick small {
    text-align: left;
    display: block;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 15px;
}

/* mengatur tombol close/power */
i.ion-power.logout-icon:before {
    color: #ffdc2f;
    font-size: 4vh;
}

/* menambahkan tulisan Our Services*/
[ng-if="!has_loggin_features"]:before {
  text-align: center;
    content: "Our Services";
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;  
    margin-top: 30px;
  	color: #fff;
}

/* mengubah lebar menu */
[ng-if="!has_loggin_features"] ul.list.homepage-custom.app-menu li {
  display: inline-block;
    width: 21%;
    margin: 5px 2%;
    border-radius: 10px;
    border: 0;
    padding: 0;
}

/* 
[ng-if="!has_loggin_features"] ul.list.homepage-custom.app-menu li .menu-text:before {
    text-align: center;
    margin: 0 auto !important;
    content: 'f233' !important;
    font-family: 'Ionicons';
    font-size: 50px;
    height: 80px !important;
} */

/* mengubah text pada menu menjadi center */
[ng-if="!has_loggin_features"] ul.list.homepage-custom.app-menu li .menu-text {
  text-align: center;
    width: 100%;
    display: block;
}

/* mengubah ukuran huruf menu */
[ng-if="!has_loggin_features"] ul.list.homepage-custom.app-menu li .menu-text p {
    font-size: 10px;
}


/* HALAMAN LOGIN */
.layout_baguera_11 .logout-form {
    padding-bottom: 7vh;
    margin-top: 20px !important;
}
[ng-if="!is_logged_in"] i.ion-android-contact.avatar {
    color: #61ce70 !important;
}

.layout_baguera_11 [ng-if="!is_logged_in"] li.item.homepage-custom {
  border: 0 !important;
}

.layout_baguera_11 [ng-if="!is_logged_in"] ul.list.connexion-menu form[ng-show="display_login_form"] {
    background-color: #ecf0f6;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

/* mengubah kolom input email & password */
.layout_baguera_11 [ng-if="!is_logged_in"] ul.list.connexion-menu form[ng-show="display_login_form"] ul li input {
  width: 96%;
    margin-left: 2%;
    border: 2px solid #fff !important;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff !important;
    text-align: center;
}

/* mengubah tombol sign in */
.layout_baguera_11 form[ng-show="display_login_form"] button.button.button-custom.button-small.waves-effect.connexion-signin.ng-binding {
    width: 60%;
    border: 0;
    border-radius: 10px;
    background-color: #61ce70;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.layout_baguera_11 form[ng-show="display_login_form"] i.ion-log-in {
    display: none;
}

.layout_baguera_11 form[ng-show="display_login_form"] ul.list.nospace-noborder-noback:before {
    content: "Log In";
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0 !important;
    display: block;
    text-align: center;
}

.layout_baguera_11 form[ng-show="display_login_form"] a.forgot-link.ng-binding {
    font-size: 11px;
    color: #61ce70;
}

.ion-edit.logout-icon::before {
    font-size: 15px;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 50px;
    color: #61ce70;
}

/* EDIT ACCOUNT PAGE */
/* menghilangkan border pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] .homepage-custom .border-custom {
  border: 0 !important;
}

/* menghilangkan padding pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] [ng-show="display_edit_form"] {
    padding: 0;
}

/* mengatur warna bg pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] div.list.nospace-noborder-noback div.list.nospace-noborder-noback {
    background-color: #eaeaea !important;
    border-radius: 10px;
    border: 0;
    padding: 10px !important;
}

/* mengatur bg pada kolom input edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] div.list.nospace-noborder-noback div.list.nospace-noborder-noback input{
    border: 0;
    background-color: #fff !important;
    border-radius: 10px !important;
    margin-bottom: 10px;
    text-align: center;
}

/* mengatur button save pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] button {
    width: 60%;
    border-radius: 10px;
    border: 0;
    background-color: #61ce70;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/* menghilangkan tanda centang pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] button i.ion-checkmark-round {
    display: none;
}

/* mengatur gambar avatar bagian atas pada edit form page */
.layout_baguera_11 [ng-if="is_logged_in && display_edit_form"] img {
    height: 20vh;
    border: 0;
    border-radius: 50%;
}


/* BUTTON COONECTION DAN CREATE ACCOUNT */
[ng-click="clickOnConnexion()"] {
    background-color: #ecf0f6  !important;
    border-radius: 10px;
    border: 0;
    color: #000 !important;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block !important;
    margin-bottom: 10px;
}

[ng-click="clickOnConnexion()"] i {
  display: none;
}

[ng-click="clickOnCreateAccount()"] {
    background-color: #ecf0f6  !important;
    border-radius: 10px;
    border: 0;
    color: #000 !important;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center; 
    display: inline-block !important;
}

[ng-click="clickOnCreateAccount()"] i {
  display: none;
}


.abort-div.ng-hide [ng-click="clickOnCreateAccount()"],
.abort-div.ng-hide [ng-click="clickOnConnexion()"] {
  display: none !important;
}

/* REGISTER PAGE */
form[ng-show="display_account_form"] {
    background-color: #ecf0f6;
    border-radius: 10px;
    padding: 10px;
}

/* mengatur tulisan Privacy Policy */
.layout_baguera_11 .check-policy.ng-empty {
    text-align: left !important;
}

.layout_baguera_11 .check-policy.ng-not-empty {
    text-align: left !important;
    padding-left: 25px !important;
}

ul.list.homepage-custom.app-menu {
	background: transparent;
}

[ng-if="!has_loggin_features"] {
    background: linear-gradient( 
137deg
 ,#ff7a18,#484848 41.07%,#319197 71.05%);
    padding-top: 5px;
	border-radius: 17% 80% 0 0 / 0% 4% 0 0;
}

/* mengatur seleck status halaman register */
form[ng-show="display_account_form"] select {
    border: 0 !important;
}

/* mengatur input halaman register */
form[ng-show="display_account_form"] input {
    border: 0 !important;
    background-color: #fff !important;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}

div[ng-click="clickOnPrivacyPolicy()"],
label[ng-model="customer.privacy_policy"] {
  border: 0 !important;
}

form[ng-show="display_account_form"] button {
    width: 60% !important;
    border: 0;
    border-radius: 10px;
    background-color: #61ce70 !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

form[ng-show="display_account_form"] i.ion-android-send:before {
  display: none;
}

.layout_baguera_11 .check-pass {
    padding: 15px!important;
    text-align: left;
    padding-left: 50px !important;
}

.item.item-icon-left.policy-button.border-custom small {
    font-size: 85%;
    text-align: left !important;
    display: block;
    padding-left: 30px !important;
}

label.checkbox-custom.check-policy.border-custom.item.item-checkbox.ng-empty.ng-valid small {
    padding-left: 20px !important;
}

/* FORGOT PASSWORD */
/* mengubah warna bg */
form[name="forgotPasswordForm"] {
    background-color: #ecf0f6;
    border-radius: 10px;
    padding: 10px;  
}

/* mengubah item input email */
form[name="forgotPasswordForm"] input {
    border: 0 !important;
    background-color: #fff !important;
    border-radius: 10px !important;
    margin-bottom: 10px;
    text-align: center;
}


/* mengubah tombol reset password */
form[name="forgotPasswordForm"] button {
    width: 70% !important;
    border-radius: 10px;
    border: 0;
    background-color: #61ce70 !important;
    color: #fff !important;
    font-size: 13px;
    text-transform: capitalize;
}

/*
form[name="forgotPasswordForm"] button {
  visibility: hidden;
    height: 70px !important;
}

form[name="forgotPasswordForm"] button:after {
    content: "Send Password";
    visibility: visible;
    width: 60% !important;
    border-radius: 10px;
    border: 0;
    background-color: #61ce70 !important;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 14px;
    margin: 10px 20%;
    height: 8vh !important;
    display: block;
}
*/

/* mengubah warna backward icon */
.ion-ios-arrow-back.abort-icon::before {
    color: #61ce70 !important;
    margin-top: 30px !important;
    font-size: 40px !important;
}



/* mengubah button CONNECTION */
button[ng-click="clickOnConnexion()"] {
    visibility: hidden;
}
[ng-if="!is_logged_in"] [ng-click="clickOnConnexion()"]:after {
    display: block !important;
    content: "Login";
    color: #000;
    border-radius: 10px;
    background-color: #ecf0f6;
    visibility: visible;
    padding-top: 20px;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* mengubah gambar menu */
.layout_baguera_11 .menu-icon-div {
    float: left;
    height: 5vh;
    width: 100%;
    display: block;
    margin: 0 auto;
    float: none;
}

/* mengubah judul menu */
.layout_baguera_11 .menu-text {
    float: left;
    line-height: 5vh;
    float: none;
    width: 100% !important;
    margin: 0 auto !important;
}

.layout_baguera_11 .menu-icon {
    height: 5vh;
    margin-top: 5px;
}

li#feature-8 {
    width: 96%;
    height: 150px;
    border-radius: 5px;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/02/undraw_Upload_re_pasx.svg);
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 40%;
}

li#feature-9 {
    width: 96%;
    height: 150px;
    border-radius: 5px;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/02/undraw_Add_files_re_v09g.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50%;
}

li#feature-10 {
    width: 96%;
    height: 150px;
    border-radius: 5px;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/02/undraw_Add_files_re_v09g.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50%;
}

li#feature-11 {
    width: 96%;
    height: 150px;
    border-radius: 5px;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/02/undraw_Add_files_re_v09g.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50%;
}

li#feature-8:before {
    content: "Projects";
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 10px;
}


li#feature-9:before {
    content: "Our Teammates";
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 10px;
}


li#feature-10:before {
    content: "Daily Activity";
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 10px;
}

li#feature-11:before {
    content: "Timeline";
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 10px;
}


li#feature-8 .menu-text,
li#feature-9 .menu-text,
li#feature-10 .menu-text,
li#feature-11 .menu-text,
li#feature-12 .menu-text,
li#feature-13 .menu-text {
    display: block;
    text-align: left !important;
    width: 100% !important;
    padding-left: 10px;
}
li#feature-8 img,
li#feature-9 img,
li#feature-10 img,
li#feature-11 img,
li#feature-12 img,
li#feature-13 img {
    display: none !important;
}


/*
.layout_baguera_11 .connexion-button {
    width: 30%;
    clear: both;
    float: none;
    top: 20px;
    font-size: 9px !important;
    margin-left: 0;
  	height: 4vh;
}

[ng-if="!is_logged_in"] [ng-click="clickOnConnexion()"]:after {
    display: block !important;
    content: "Login";
    color: #000;
    border-radius: 10px;
    background-color: #ecf0f6;
    visibility: visible;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 100% !important;
    margin: 0 !important;
}

[ng-if="!is_logged_in"] i.ion-android-contact.avatar {
    color: #61ce70 !important;
}

[ng-click="clickOnCreateAccount()"] {
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    border: 0;
    color: #000 !important;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block !important;
    margin-top: -12px;
}
*/

/* mengubah bagian atas */
ion-view[state="loyaltycard-view"] .item.item-text-wrap.item-icon-left.item-custom {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

ion-view[state="loyaltycard-view"] .item.item-text-wrap.item-icon-left.item-custom i {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}


ion-view[state="loyaltycard-view"] .item.item-text-wrap.item-custom {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}


ion-view[state="loyaltycard-view"] .points.text-center a.point.loyaltycard {
    width: 96%;
    display: block;
    margin: 5px 2%;
    padding: 0;
  	background-color: #eaeaea;
  	border-radius: 5px;
  	padding-bottom: 5px;
  	height: 120px;
  	padding-top: 5px;
  	background-image: url("https://image.freepik.com/free-vector/abstract-white-shapes-background_79603-1362.jpg");
  	background-position: bottom right 5px;
  	background-repeat: no-repeat;
  	background-size: 100%;
}

ion-view[state="loyaltycard-view"] .points.text-center a.point.loyaltycard img {
    width: 100px;
    margin: 5px 2%;
    border: 10px;
    height: 100px;
  	border-radius: 10px;
  	float: left;
}

ion-view[state="loyaltycard-view"] .points.text-center a.point.loyaltycard:after {
	content: "Use Point";
    text-align: center;
    color: blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    display: block;
    padding: 10px 5px;
    background-color: #ecf0f6;
    border-radius: 5px;
    margin: 5px 2% 5px 58%;
    border: 2px solid #ffffff;
}

ion-view[state="loyaltycard-view"] .ion-pricetag:before {
	display: none !important;
}

@media screen (min-width: 450px) {
ion-view[state="loyaltycard-view"] .points.text-center a.point.loyaltycard {
    width: 96%;
    display: block;
    margin: 5px 2%;
    padding: 0;
    background-color: #ecf0f6;
    border-radius: 5px;
    padding-bottom: 5px;
    height: 120px;
    padding-top: 5px;
    background-image: url(https://image.freepik.com/free-vector/abstract-white-shapes-background_79603-1362.jpg);
    background-position: bottom right 5px;
    background-repeat: no-repeat;
    background-size: 120px;
}
}

ion-view[state="loyaltycard-view"] div.list div.item.item-text-wrap.item-icon-left.item-custom.ng-binding {
    width: 60%;
    margin: 10px 20%;
    background-color: #ecf0f6;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #f30707;
}

ion-view[state="loyaltycard-view"] div.list div.item.item-text-wrap.item-icon-left.item-custom.ng-binding .ion-ios-person-outline:before {
	display: none;
}

ion-view[state="loyaltycard-view"] div.item.item-text-wrap.item-icon-left.item-custom div p {
	border: 2px solid #ecf0f6;
    border-radius: 5px;
    padding: 10px 5px;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 10px;
    background-color: #ecf0f6;
}

ion-modal-view.loyaltycard-view button.button.button-custom.button-block.ng-binding {
    width: 60%;
    border: 0;
    background-color: #ecf0f6;
    margin-left: 20%;
    text-transform: uppercase;
    color: red;
}

ion-modal-view.loyaltycard-view .dots .dot {
    width: 30px;
    height: 15px;
    display: inline-block;
    margin: 0 7px;
    border-radius: 2ex;
    background-color: #ecf0f6;
    border: 0;
}

ion-modal-view.loyaltycard-view .list.pad .buttons button {
    color: #298EB2;
  	border-color: #298EB2;
}
