/* LAYOUT TAXI */
ion-side-menu.menu.menu-left.menu-left-open,
ion-side-menu.menu.menu-left {
    width: 90vw !important;
  	background-color: transparent !important;
}

.layout.layout_taxi .taxi-header {
    width: 100%;
    background: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/04/servizi-pubblicitari.jpg) !important;
	background-position: center top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    padding: 0;
    display: flex;
    height: 320px;
    margin: 0;
}

.layout_taxi .taxi-header .taxi-avatar-wrapper {
    height: 25vw;
    width: 25vw;
    border: 4px solid #ffffff;
    border-radius: 15px !important;
    overflow: hidden;
    display: inline-block;
}


.taxi-header .row:first-child {
	padding: 0;
    margin-left: 5px;
    width: 70%;
    justify-content: end;
    align-items: center;
}

.taxi-header .row:last-child{
	display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
}

.row:nth-child(2) .text-center.col {
    text-align: left;
}

.taxi-header .row:nth-child(1) .text-center.col {
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: -20px;
}

.taxi-header .row:nth-child(2) .text-center.col {
	width: 100% !important;
    max-width: 100% !important;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.layout_taxi ul.items.homepage-custom {
	padding-top: 90px;
    margin-top: -175px;
    border-radius: 20px 0 0 0;
    background-color: #fff !important;
}

.layout_taxi .customer-name {
    width: 100%;
    font-size: 80%;
    color: #ff6b01;
}

.layout_taxi .line-title {
    line-height: 6vw;
    margin-left: 1em;
    font-weight: normal;
    font-variant: normal;
    color: #767676;
    font-size: 16px;
}


.layout_taxi .lines {
	height: 70px;
    margin-left: 20px;
}

.layout_taxi .line-box {
    display: flex;
    align-items: center;
    height: 70px !important;
}

.layout_taxi .line-icon-box {
    width: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #eaeaea;
    margin: 5px !important;
    border-radius: 5px !important;
}

.layout_taxi li:nth-child(5n+1) .line-icon-box {
    background-color: #ff6b01;	
}

.layout_taxi li:nth-child(5n+2) .line-icon-box {
    background-color: #3bb150;	
}


.layout_taxi li:nth-child(5n+3) .line-icon-box {
    background-color: #645faf;	
}

.layout_taxi li:nth-child(5n+4) .line-icon-box {
    background-color: #015792;	
}

.layout_taxi li:nth-child(5n+5) .line-icon-box {
    background-color: #c7ddd1;	
}

.layout_taxi .line-icon {
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

.layout_taxi [ng-click="loginOrSignup()"] span.taxi-signup span:nth-child(1),
.layout_taxi [ng-click="loginOrSignup()"] span.taxi-signup span:nth-child(2) {
	display: none;
}

.layout_taxi [ng-click="loginOrSignup()"] span.taxi-login-text.ng-binding {
    background-color: #008000;
    color: #fff !important;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 65px;
    margin: 5px auto;
    padding: 15px 25px;
    border: 4px solid #fff;
    margin-top: -10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

