/* LAYOUT 1 */
.layout.l1 ul {
	width: 96%;
    margin-left: 2%;
    border-radius: 50px;
    box-shadow: none !important;
    margin-bottom: 15px;
	background: rgb(76,73,238);
	background: linear-gradient(0deg, rgba(76,73,238,1) 0%, rgba(76,73,238,1) 100%);
    height: 65px !important;
  	border: 0;
}

.layout.l1 ul li.col.col-20.tab-item {
	padding: 0 !important;
	margin: 0 !important;
  	background-color: transparent;
  	width: 18%;
  	max-width: 18%;
  	margin: 0 1% !important;
  	height: 55px !important;
  	
}

.layout.l1 ul li.col.col-20.tab-item img {
    background-color: transparent;
    width: 30px;
    height: 30px;
    bottom: 0;
    top: 0;
    margin-top: 18px !important;
    margin-left: 0 !important;
}

.layout.l1 ul li.col.col-20.tab-item p {
	display: none;
}


.layout.l1 ul {
	display: flex;
  	flex-direction: row;
}

.layout.l1 ul li:nth-child(1) {
	order: 5;
}

.layout.l1 ul li:nth-child(2) {
	order: 1;
}

.layout.l1 ul li:nth-child(3) {
	order: 2;
}

.layout.l1 ul li:nth-child(4) {
	order: 4;
}

.layout.l1 ul li:nth-child(5) {
	order: 3;
}


/* more */
ion-modal-view.layout.modal.slide-top.layout_modal_generic {
    background: rgb(76,73,238);
    background: linear-gradient(0deg, rgba(76,73,238,1) 0%, rgba(76,73,238,1) 100%) !important;
    opacity: 1 !important;
  	height: 70%;
  	margin-top: 30%;
  	border-top: 10px solid rgb(76,73,238);
}

/*
ion-modal-view.layout.modal.slide-top.layout_modal_generic .list {
	display: flex;
  	flex-direction: column;
}
*/

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-center.item-avatar.item-icon-left.item-custom {
	/*order: 1; */
    font-size: 0;
    width: 40px;
    border-radius: 10px;
    background-color: #4287ef;
    padding: 0;
    display: block !important;
    min-height: 40px;
    border: 0;
    box-shadow: none;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic:before {
	content: "I am a";
  	display: block;
  	width: 96%;
  	color: #fff;
  	text-align: center;
  	font-size: 18px;
  	font-weight: bold;
  	margin-top: 20px;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list:before {
   	content: " ";
   	animation: changetext 10s infinite linear;
   	font-size: 28px;
  	display: block !important;
  	width: 96%;
  	color: #fff;
  	text-align: center;
  	margin-bottom: 50px;
  	margin-top: 30px;
  	background-color: #4287ef;
  	border-radius: 10px;
  	padding: 20px;
  	margin-left: 2%;
}

@keyframes changetext {
    0% { content:"UI Developer";}
    20% { content:"UX Developer"; }
    40% { content:"Web Developer"; }
    60% { content: "BackEnd Developer"; }
    80% { content: "FrontEnd Developer"; }
    100% { content: "FullStack Developer"; }
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-center.item-avatar.item-icon-left.item-custom  h2 {
	font-size: 0;
  	display: none;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-center.item-avatar.item-icon-left.item-custom i {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
  	color: #fff;
  	font-size: 20px;
}


ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom {
	background-color: transparent;
  	border: 0;
  	/*order: 2; */
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .item.item-avatar.item-center.item-avatar-square.item-custom:nth-child(-n+4) {
	display: none
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom h2.ng-binding {
    opacity: 1;
    color: #fff !important;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom img {
  	margin: 0 0 10px 15px;
  	background-color: #4287ef;
  	border-radius: 10px;
  	left: 0;
  	right: 0;
}


ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom:nth-child(-n+4) {
  	left: 0;
  	width: 23%;
  	display: inline-block;
  	margin: 5px 1%;
  	right: 0;
  	padding: 5px;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom:nth-child(-n+4) img {
    display: block !important;
    width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    background-color: #4287ef !important;
  	width: 80px !important;
  	height: 80px !important;
}

ion-modal-view.layout.modal.slide-top.layout_modal_generic .list .item.item-avatar.item-center.item-avatar-square.item-custom:nth-child(-n+4) h2 {
	display: block;
  	margin-top: 50px;
  	text-align: center;
  	font-size: 12px;
}

/* POPUP */
.popup-container.active .popup {
	border-radius: 30px !important;
    box-shadow: none !important;
}

.platform-browser .popup-buttons,
.platform-overview .popup-buttons,
.platform-ios .popup-buttons,
.platform-android .popup-buttons {
    text-align: center !important;
    background-color: transparent !important;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 100% !important;
    margin: 10px 0 !important;
    display: inline-block !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

.platform-browser .popup .popup-head,
.platform-overview .popup .popup-head,
.platform-ios .popup .popup-head,
.platform-android .popup .popup-head {
    padding: 20px 20px 0;
    border-bottom: 0;
    text-align: center !important;
    font-size: 22px;
    font-weight: bold !important;
}

h3.popup-title.ng-binding:before {
    content: " ";
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    color: #fff;
    background-image: url(https://ensiklopediakesaguan.com/wp-content/uploads/2021/04/checked.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.platform-browser .popup button.button:first-of-type,
.platform-overview .popup button.button:first-of-type,
.platform-ios .popup button.button:first-of-type,
.platform-android .popup button.button:first-of-type {
    width: 60% !important;
    text-align: center !important;
    border-radius: 30px !important;
    background-color: #30b826 !important;
    padding: 10px !important;
    color: #fff !important;
    font-size: 16px !important;
    margin: 10px 0 !important;
    display: block !important;
    margin-left: 20% !important;
}

.platform-browser .popup button.button,
.platform-overview .popup button.button,
.platform-ios .popup button.button,
.platform-android .popup button.button {
    display: block !important;
    background-color: #30b826 !important;
    width: 60% !important;
    text-align: center !important;
    padding: 10px !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-size: 16px !important;
    margin-left: 20% !important;
}

.platform-browser .popup .popup-body,
.platform-overview .popup .popup-body,
.platform-ios .popup .popup-body,
.platform-android .popup .popup-body {
    padding: 20px 20px;
    border-bottom: 0;
    text-align: center !important;
}