.layout.l6 ion-content {
    border-radius: 0% 90% 0 0 / 30% 25% 0 0;
    height: 54vh;
    background-color: #4e80a6 !important;
    border-top: 10px solid #4e6f88;
}

.layout.l6 div.scroll a:nth-child(1) {
    margin-top: 20px;
}

.layout.l6 div.scroll a {
    background-color: #4e80a6 !important; 
    margin-left: 20px;
}

ion-view>ion-content {
    background-color: #fff !important;  
}

.homepage .scroll .item.item-avatar img {
    background-color: #fff;
    padding: 2px;
    border-radius: 50px;
}

ion-view.pane.has-background-image {
    background: #4e80a6 !important;
}
